/** Copyright Andre Meintjes http://andremeintjes.com 2017**/
/** Global styles **/
html, body{
    font-family: 'Michroma', sans-serif;
    height: 100%;
    width: 100%;
}
.divider-line{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #313131;
    padding-top: 10px;
    margin-bottom: 10px;
}
.row {
    padding-top: 10px;
    padding-bottom: 10px;
}
h4, h3{
    font-weight: 500;
    background-color: #131313;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

/** ---Index page **/
.dark-blue{
    color: #0b70b6;
}
.light-blue{
    color: #32a9d6;
}
.hello-box{
    min-height: 20vh;
    background-color: #131313;
    color: white;
}
.hello-image{
    margin-top: 20vh;
    height: 80vh;
    background-image: url('../img/backgrounds/background.jpg');
    background-position: center; /** change on small **/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.underceiling, .ducted, .cassette, .split, .portable, .floorstanding{
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.underceiling{
    background-image: url('../img/underceiling.jpg');
}
.ducted{
    background-image: url('../img/ducted.jpg');
}
.cassette{
    background-image: url('../img/cassette.jpg');
}
.split{
    background-image: url('../img/maldives.jpg');
}
.portable{
    background-image: url('../img/portable.jpg');
}
.floorstanding{
    background-image: url('../img/af9000.jpg');
}
.brands{
    height: 50px;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.samsung{
    background-image: url('../img/brands/samsung.png');
}
.lg{
    background-image: url('../img/brands/lg.png');
}
.daikin{
    background-image: url('../img/brands/daikin.png');
}
.midea{
    background-image: url('../img/brands/midea.png');
}
.york{
    background-image: url('../img/brands/york.png');
}
.alliance{
    background-image: url('../img/brands/alliance.png');
}
.footer-note{
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #131313;
    color: white;
}
/** navigation **/
.navigation-box{
    background-color: #131313;
    text-align: center;
}
.logo-box{
    padding: 0;
    margin: 0;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 200px;
    background-image: url('../img/logo-hd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.navigation-menu{
    list-style: none;
    padding: 0;
    text-align: center;
}
.navigation-menu > li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.navigation-menu > li > a{
    text-decoration: none;
    color: grey;   
}
.navigation-menu > li > a:hover{
    background-color: transparent;
    color: #0b70b6;
    cursor: pointer;
}
@media(max-width:767px){
}
@media(min-width:768px){
}
@media(min-width:992px){
      /** ---Navigation **/
.navigation-box{
    position: fixed;
    height: 100%;
    height: 100vh;
    width: 200px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.contact-box{
    position: absolute;
    bottom: 0;
}
.content-box{
    margin-left: 200px; 
}
}
@media(min-width:1200px){
}