/** Copyright Andre Meintjes http://andremeintjes.com 2017**/
/** Global styles **/
html, body{
    font-family: 'Michroma', sans-serif;
    height: 100%;
    width: 100%;
}
/** ---Index page **/


/** navigation **/
.navigation-menu{
    list-style: none;
}
.navigation-menu > li > a{
    text-decoration: none;
    text-align: center;
    
}
.navigation-menu > li > a:hover{
    background-color: #0b70b6;
    color: white;
}
@media(max-width:767px){
}
@media(min-width:768px){
}
@media(min-width:992px){
      /** ---Index page **/
.navigation-box{
    position: fixed;
    height: 100%;
    height: 100vh;
    width: 200px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.content-box{
    margin-left: 200px; 
}
}
@media(min-width:1200px){
}