/** Copyright Andre Meintjes http://andremeintjes.com 2017**/
/** Global styles **/
html, body{
    font-family: 'Michroma', sans-serif;
    height: 100%;
    width: 100%;
}
.divider-line{
    height: 1px;
    width: 100%;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: grey;
}
/** ---Index page **/
.dark-blue{
    color: #0b70b6;
}
.light-blue{
    color: #32a9d6;
}

/** navigation **/
.navigation-box{
    background-color: #131313;
    text-align: center;
}
.logo-box{
    padding: 0;
    margin: 0;
}
.logo{
    padding-left: auto;
    padding-right: auto;
    height: 100px;
    width: 200px;
    background-image: url('../img/logo-hd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.navigation-menu{
    list-style: none;
    padding: 0;
    text-align: center;
}
.navigation-menu > li > a{
    text-decoration: none;
    color: grey;   
}
.navigation-menu > li > a:hover{
    background-color: transparent;
    color: #0b70b6;
    cursor: pointer;
}
@media(max-width:767px){
}
@media(min-width:768px){
}
@media(min-width:992px){
      /** ---Index page **/
.navigation-box{
    position: fixed;
    height: 100%;
    height: 100vh;
    width: 200px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.content-box{
    margin-left: 200px; 
}
}
@media(min-width:1200px){
}