html, body, .container-fluid{
    height: 100%;
}
.navbar{
    background-color: #313131;
    width: 100%;
    z-index: 99;
    color: #0A6FBA;
    padding-left: 10px;
    box-shadow: 0 0 5px 2px black;
}
.navbar-header > a:hover{
    border-radius: 0;
}
#bg{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    max-height: 100%;
    z-index: -99;
    margin: 0;
    padding: 0;
}
html body {
    font-family: 'Quicksand', sans-serif;
}

.navbar-right > ul > li > a{
    color: #2EA9E2;
}
.navbar-right > ul > li > a:hover{
    color: white;
    background-color: #0A6FBA;
}
.navbar-left{
    color: #2EA9E2;
}
.navbar-left:hover{
    color: white;
    background-color: #0A6FBA;
}
body{
    padding: 0;
    margin: 0;
}
h1, h2{
    font-weight: bold;
}
.row{
	width: 100%;
	margin: 0;
}
.container-fluid{
    padding: 0;
}
.icon-banner{
    background-color: #313131;
    color: white;;
}
.icon-banner> div > i{
    font-size: 250%;
    color: white;
}
.btn-default{
    background-color: #2EA9E2;
    border-color: #313131;
    color: white;
}
.btn-default:hover{
    background-color: #0A6FBA;
    border-color: #0A6FBA;
    color: white;
}
.card{
    height: 200;
    text-decoration: none;
    color: black;
    padding: 5px;
    text-align: bottom;
}

.btn-stretch{
    width: 100%;
}
.get-ac{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.underceiling, .ducted, .cassette, .split, .portable, .floorstanding{
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.underceiling{
    background-image: url('../img/underceiling.jpg');
}
.ducted{
    background-image: url('../img/ducted.jpg');
}
.cassette{
    background-image: url('../img/cassette.jpg');
}
.split{
    background-image: url('../img/maldives.jpg');
}
.portable{
    background-image: url('../img/portable.jpg');
}
.floorstanding{
    background-image: url('../img/floorstanding.jpg');
}
.bottom-banner{
    background-color: #313131;
    color: #2EA9E2;
}
.contact-information,.quick-links{
    text-align: center;
}
.btu-needed{
    padding-top: 10px;
}
.shadow-heading{
    background-color: #2EA9E2;
    margin-bottom: 10px;
    color: white;
}
/** product page **/
.product-image{
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: 100px;
    margin: 0;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.product-card{
    background-color: white;
    height: 400px;
    font-size: 1em;
    padding: 5px;
    margin: 0;
}

.product-card-content{
    padding-top: 10px;
}
.active{
    background-color: #0A6FBA !important;
    color: white !important;
}
.brand-banner{
    background-color: white;

}
.brand-banner > div > a{
    background-color: white;
    cursor: pointer;
}
.brand-banner > div > a:hover{
    background-color: white;
    cursor: pointer;
}
.slides-banner{
    background-color: white;
}
.grass{
    height: 150px;
    padding-top: 100px;
    background-image: url('../img/grass.png');
    background-repeat: repeat-x;
}
#slides{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.eco{
    color: #12ad2a;
}

/** Media specific**/

@media(max-width:767px){
body {
        font-size: 0.9em;
}
.slides-btn{
    padding-top: 90px;

}
.container-slides{
    height: 200px;
}
#slides{
      height: 200px;
}
.body-cover{
    padding: 0;
    padding-top: 50px;
}
}
@media(min-width:768px){
body {
        font-size: 1em;
}
#slides{
    height: 400px;
}
.body-cover{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    max-height: 100%;
    padding: 0;
}
.product-panel{
    overflow-y: scroll;
    max-height: 100vh;
}
.product-content{
    padding: 0;
    margin: 0;
}
.contact-information{
    text-align: left;
}
.quick-links{
    text-align: right;
}
.btu-needed{
    padding-top: 30px;
}
/** product page **/


}
@media(min-width:992px){
body {
        font-size: 1.2em;
}
}
@media(min-width:1200px){
body {
        font-size: 1.3em;
}    
}

